.new-book {
  display: flex;
  flex-direction: column;
  gap: 10px;
  gap: 0.938rem;
  margin: 2.313rem 6.25rem;
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
}

.frm-new-book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.new-title {
  font-size: 1.25rem;
  color: #888;
  font-weight: bold;
  letter-spacing: -0.18px;
  padding-top: 1.813rem;
  padding-bottom: 1.188rem;
}

.input {
  border: solid 1px #e8e8e8;
  padding: 0.813rem 0.813rem 0.813rem 1.063rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  width: 25%;
}

.dark {
  color: #121212;
}
